<div id="c1" class="aboutMe-content">
    <div class="aboutMe-container">
        <h2>About Me</h2>
        <div class="context-div-container">
            <div class="photo-div-container"><img src="/public/images/photos/zdjecie.jpg" alt="zdjecie error load"></div>
            <div class="text-div-container">
                <p>Hi, my name is Grzesiek, I am student of third year IT on Cracow University of Technology. I'm interested in programming and IT field for three years that's why i study IT.</p>
                <p>I work as an International forwarder on a daily basis, that's why working with work staff is familiar to me, I know what is teamwork and i like work with others people.</p>
                <p>I like solving various problems, my strengths are creativity, communicativeness, independence and good organization of work and achieving the set purposes.</p>
                <p>I would like to start developing in my target profession in IT field, that's why I invite you to see my web portfolio.</p>
            </div>
        </div>
    </div>
</div>