<div id="c4" class="education-content" style="display: none;">
    <div class="education-container">
        <h2>Education</h2>
        <div class="education-achievements-container">

            <div id="lo" class="education-achievement-cover">
                <div class="achievement-title">
                    <span class="title">High School</span>
                    <span class="date">2015-09 - 2018-04</span>
                </div>
                <div id="lo_desc" class="achievement-context" style="display: none;">
                    <div class="describe">
                        <p>I High School name's Kazimierz Wielki</p>
                        <p>Poland, Olkusz</p>
                    </div>
                    <div class="photo-linked"><a href="https://lo1olkusz.com.pl/" target="_blank"><img src="/public/images/logo/lo.png" alt="lo logo load error"></a></div>
                </div>
            </div>

            <div id="jsCourse" class="education-achievement-cover">
                <div class="achievement-title">
                    <span class="title">JavaScript Course</span>
                    <span class="date">2023-04</span>
                </div>
                <div id="jsCourse_desc" class="achievement-context" style="display: none;">
                    <div class="describe">
                        <p>Inventum Sp. z o. o.</p>
                        <p>Poland, Nowy Sącz</p>
                    </div>
                    <a href="/public/pdf_files/JavaScript-Course-Certyficate.pdf" download><img src="/public/images/icons/certificate.png" alt="certyficate icon error load"></a>
                    <div class="photo-linked"><a href="https://inventum-global.pl/en/" target="_blank"><img src="/public/images/logo/inventum.png" alt="course logo load error"></a></div>
                </div>
            </div>

            <div id="studies" class="education-achievement-cover">
                <div class="achievement-title">
                    <span class="title">IT, Engineering Studies</span>
                    <span class="date">2020-10 - until now</span>
                </div>
                <div id="studies_desc" class="achievement-context" style="display: none;">
                    <div class="describe">
                        <p>Cracow University of Technology</p>
                        <p>Faculty of Computer Science and Telecommunications</p>
                    </div>
                    <div class="photo-linked"><a href="https://www.pk.edu.pl/index.php?lang=en" target="_blank"><img src="/public/images/logo/pk.jpeg" alt="pk logo load error"></a></div>
                </div>
            </div>

        </div>
    </div>
</div>