<footer class="desktop-footer">
    <div class="socials-container-div">
        <span class="border_line"></span>
        <div class="social-inside-container-div">
            <div id="gh" class="social"><a href="https://github.com/grzesiek999" target="_blank"><img src="/public/images/icons/github.png" alt="github icon error load"></a></div>
            <div id="fb" class="social"><a href="https://www.facebook.com/grzesiek.pasich1" target="_blank"><img src="/public/images/icons/facebook.png" alt="facebook icon error load"></a></div>
            <div id="ig" class="social"><a href="https://www.instagram.com/grzegorz.pasich/" target="_blank"><img src="/public/images/icons/instagram.png" alt="instagram icon error load"></a></div>
            <div id="in" class="social"><a href="https://www.linkedin.com/in/grzegorz-pasich-26695527a/" target="_blank"><img src="/public/images/icons/linkedin.png" alt="linked icon error load"></a></div>
        </div>
    </div>
</footer>

<footer class="mobile-footer">
    <div class="mobile-socials-container-div">
        <span class="mobile-border_line"></span>
        <div class="mobile-social-inside-container-div">
            <div id="mobile-gh" class="mobile-social"><a href="https://github.com/grzesiek999" target="_blank"><img src="/public/images/icons/github.png" alt="github icon error load"></a></div>
            <div id="mobile-fb" class="mobile-social"><a href="https://www.facebook.com/grzesiek.pasich1" target="_blank"><img src="/public/images/icons/facebook.png" alt="facebook icon error load"></a></div>
            <div id="mobile-ig" class="mobile-social"><a href="https://www.instagram.com/grzegorz.pasich/" target="_blank"><img src="/public/images/icons/instagram.png" alt="instagram icon error load"></a></div>
            <div id="mobile-in" class="mobile-social"><a href="https://www.linkedin.com/in/grzegorz-pasich-26695527a/" target="_blank"><img src="/public/images/icons/linkedin.png" alt="linked icon error load"></a></div>
        </div>
    </div>
</footer>