<footer>
    <div class="socials-container-div">
        <span class="border_line"></span>
        <div class="social-inside-container-div">
            <div id="gh" class="social"><a href="https://github.com/grzesiek999"><img src="/public/images/icons/github.webp" alt="github icon error load"></a></div>
            <div id="fb" class="social"><a href="https://www.facebook.com/grzesiek.pasich1"><img src="/public/images/icons/facebook.png" alt="facebook icon error load"></a></div>
            <div id="ig" class="social"><a href="https://www.instagram.com/grzegorz.pasich/"><img src="/public/images/icons/instagram.png" alt="instagram icon error load"></a></div>
            <div id="yt" class="social"><a href="https://www.youtube.com/channel/UCqBqXGSqYjUShyKma1nbJIg">yt</i></a></div>
        </div>
    </div>
</footer>