<header class="desktop">
    <div class="motive-changer-div">
        <button id="motive-change" class="motive-changer-button" type="button"></button>
        
    </div>
    <nav>
        <div class="navigation">
            <ul>
                <li id="about_me" class="list active">
                    <div>
                    <img src="/public/images/icons/home-outline.svg">
                    <span class="text">ABOUT ME</span>
                    </div>
                </li>

                <li id="skills" class="list">
                    <div>
                    <img src="/public/images/icons/layers-outline.svg">
                    <span class="text">SKILLS</span>
                    </div>
                </li>

                <li id="offer" class="list">
                    <div>
                    <img src="/public/images/icons/bookmarks-outline.svg">
                    <span class="text">OFFER</span>
                    </div>
                </li>

                <li id="education" class="list">
                    <div>
                    <img src="/public/images/icons/book-outline.svg">
                    <span class="text">EDUCATION</span>
                    </div>
                </li>

                <li id="contact" class="list">
                    <div>
                    <img src="/public/images/icons/mail-open-outline.svg">
                    <span class="text">CONTACT</span>
                    </div>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </nav>
</header>

<header class="mobile">
    <nav>
        <div class="mobileMenu">
            <div class="menu-icon-div"><img src="/public/images/icons/menu.png" alt="menu icon error"></div>
            <div class="mobile-navigation-div">
                <ul>
                    <li id="about_me-mobile" class="list-mobile-active" style="display: none;">
                        <div id="about_me-button-mobile" class="navigation-icon-div"><img src="/public/images/icons/home-outline.svg"></div>
                    </li>
    
                    <li id="skills-mobile" style="display: none;">
                        <div id="skills-button-mobile" class="navigation-icon-div"><img src="/public/images/icons/layers-outline.svg"></div>
                    </li>
    
                    <li id="offer-mobile" style="display: none;">
                        <div id="offer-button-mobile" class="navigation-icon-div"><img src="/public/images/icons/bookmarks-outline.svg"></div>
                    </li>
    
                    <li id="education-mobile" style="display: none;">
                        <div id="education-button-mobile" class="navigation-icon-div"><img src="/public/images/icons/book-outline.svg"></div>
                    </li>
    
                    <li id="contact-mobile" style="display: none;">
                        <div id="contact-button-mobile" class="navigation-icon-div"><img src="/public/images/icons/mail-open-outline.svg"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>