<header>
    <div class="motive-changer-div">
        <button class="motive-changer-button" type="button"></button>
        
    </div>
    <nav>
        <div class="navigation">
            <ul>
                <li id="about_me" class="list active">
                    <div>
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">ABOUT ME</span>
                    </div>
                </li>

                <li id="expercience" class="list">
                    <div>
                    <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                    <span class="text">EXPERIENCE</span>
                    </div>
                </li>

                <li id="skills" class="list">
                    <div>
                    <span class="icon"><ion-icon name="bookmarks-outline"></ion-icon></span>
                    <span class="text">SKILLS</span>
                    </div>
                </li>

                <li id="education" class="list">
                    <div>
                    <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                    <span class="text">EDUCATION</span>
                    </div>
                </li>

                <li id="contact" class="list">
                    <div>
                    <span class="icon"><ion-icon name="mail-open-outline"></ion-icon></span>
                    <span class="text">CONTACT</span>
                    </div>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </nav>
</header>