<header>
    <div class="motive-changer-div">
        <button class="motive-changer-button" type="button"></button>
        
    </div>
    <nav>
        <div class="navigation">
            <ul>
                <li id="about_me" class="list active">
                    <div>
                    <img src="/public/images/icons/home-outline.svg">
                    <span class="text">ABOUT ME</span>
                    </div>
                </li>

                <li id="skills" class="list">
                    <div>
                    <img src="/public/images/icons/layers-outline.svg">
                    <span class="text">SKILLS</span>
                    </div>
                </li>

                <li id="offer" class="list">
                    <div>
                    <img src="/public/images/icons/bookmarks-outline.svg">
                    <span class="text">OFFER</span>
                    </div>
                </li>

                <li id="education" class="list">
                    <div>
                    <img src="/public/images/icons/book-outline.svg">
                    <span class="text">EDUCATION</span>
                    </div>
                </li>

                <li id="contact" class="list">
                    <div>
                    <img src="/public/images/icons/mail-open-outline.svg">
                    <span class="text">CONTACT</span>
                    </div>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </nav>
</header>