<div id="c3" class="offer-content" style="display: none;">
    <div class="offer-container">
        <h2>My Offer</h2>
        <div class="offerts-context">
            <div class="oferts">
                <div id="website" class="offer-box">
                    <span class="offer-title">Website</span>
                    <div id="website-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>I can make personalized website for you or your company from stratch.</p>
                            <p>I make prototypes, write websites and take care of it, but if you need i can write website based on a finished prototype or modificate your current website.</p>
                        </div>
                    </div>
                </div>
                <div id="onlineshop" class="offer-box">
                    <span class="offer-title">Online Shop</span>
                    <div id="onlineshop-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>If you would like to move your activity to web, i can help you.</p>
                            <p>I create onlineshops with full functionality for users and admins. I can make all details like you want and your onlineshop need.</p>
                        </div>
                    </div>
                </div>
                <div id="services" class="offer-box">
                    <span class="offer-title">Computer Services</span>
                    <div id="services-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>I take care of services your pc computers or laptops.</p>
                            <p>I can help with every problem with your device except mechanical fault. Also I can offer to help with assemble a computer or choose good laptop for your needs.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oferts">
                <div id="logo" class="offer-box">
                    <span class="offer-title">Company Logo</span>
                    <div id="logo-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>If you are starting your own business, probably you will need logo for your company.</p>
                            <p>I can make project personalized only for you and your activity. Every detail need to be agreed.</p>
                        </div>
                    </div>
                </div>
                <div id="bannercard" class="offer-box">
                    <span class="offer-title">Business Card & Banner</span>
                    <div id="bannercard-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>I can create business cards and advertising banners for you and your company.</p>
                            <p>All projects I make form scratch, constant consulting with customer to confirm everyone stage or make amendments.</p>
                        </div>
                    </div>
                </div>
                <div id="video" class="offer-box">
                    <span class="offer-title">Video Advertisement</span>
                    <div id="video-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>If you would like to have advertising spot for your company I can make it for you.</p>
                            <p>Your task is just deliver short materials or a few photos and I will take care of the rest.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>