<div id="c3" class="offer-content" style="display: none;">
    <div class="offer-container">
        <h2>My Offer</h2>
        <div class="offerts-context">

            <div class="oferts">
                <div id="website" class="offer-box">
                    <span class="offer-title">Website</span>
                    <div id="website-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>I can make personalized website for you or your campany from zero.</p>
                            <p>I create websites, make prototypes and take care it, but if you need i can perform alone your prototype or modyficate your current website.</p>
                        </div>
                    </div>
                </div>
                <div id="onlineshop" class="offer-box">
                    <span class="offer-title">Online Shop</span>
                    <div id="onlineshop-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>If you would like to move your activity to web, i can help you.</p>
                            <p>I create onlineshops with full functionality for users and admins, everyone details like you want and need in you shop is to do.</p>
                        </div>
                    </div>
                </div>
                <div id="businesscard" class="offer-box">
                    <span class="offer-title">Business Card</span>
                    <div id="businesscard-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            <p>I can create business card for you and you company for better fame your company and facilities contact with you.</p>
                            <p>Business card i</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oferts">
                <div id="logo" class="offer-box">
                    <span class="offer-title">Company Logo</span>
                    <div id="logo-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            
                        </div>
                    </div>
                </div>
                <div id="banner" class="offer-box">
                    <span class="offer-title">Advertising Banner</span>
                    <div id="banner-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            
                        </div>
                    </div>
                </div>
                <div id="video" class="offer-box">
                    <span class="offer-title">Video Advertisement</span>
                    <div id="video-information" class="offer-information" style="display: none;">
                        <div class="offer-describe">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>