<div id="c2" class="skills-content" style="display: none;">
    <div class="skills-container">
        <h2>Skills</h2>
        <div class="skills-list-div-container">
            <div class="list-lef-part">
                <ul>
                    <li id="a1"><img class="skill-miniature" src="/public/images/skills_miniatures/c-.png" alt="c++ miniature error">C/C++</li>
                    <li id="a2"><img class="skill-miniature" src="/public/images/skills_miniatures/python.png" alt="python miniature error">Python</li>
                    <li id="a3"><img class="skill-miniature" src="/public/images/skills_miniatures/html-5.png" alt="html miniature error">HTML</li>
                    <li id="a4"><img class="skill-miniature" src="/public/images/skills_miniatures/css-3.png" alt="css miniature error">CSS</li>
                    <li id="a5"><img class="skill-miniature" src="/public/images/skills_miniatures/js.png" alt="javascript miniature error">JavaScript</li>
                    <li id="a6"><img class="skill-miniature" src="/public/images/skills_miniatures/git.png" alt="git miniature error">Git</li>
                    <li id="a7"><img class="skill-miniature" src="/public/images/skills_miniatures/linux.png" alt="linux miniature error">Linux</li>
                    <li id="a8"><img class="skill-miniature" src="/public/images/skills_miniatures/docker.png" alt="docker miniature error">Docker</li>
                    <li id="a9"><img class="skill-miniature" src="/public/images/skills_miniatures/physics.png" alt="react miniature error">React</li>
                    <li id="a10"><img class="skill-miniature" src="/public/images/skills_miniatures/photoshop.png" alt="ps miniature error">Adobe Photoshop</li>                    
                </ul>
            </div>
            <div class="list-right-part">
                <ul>
                    <li id="a11"><img class="skill-miniature" src="/public/images/skills_miniatures/sql-server.png" alt="sql miniature error">Knowledge SQL</li>
                    <li id="a12"><img class="skill-miniature" src="/public/images/skills_miniatures/office.png" alt="office miniature error">Microsoft Office</li>
                    <li id="a13"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Ability to work under stress</li>
                    <li id="a14"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Independence and good organization of work</li>
                    <li id="a15"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Ability to work in a team</li>
                    <li id="a16"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Ability to think analytically</li>
                    <li id="a17"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Communicativeness</li>
                    <li id="a18"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Creativity</li>
                    <li id="a19"><img class="skill-miniature" src="/public/images/skills_miniatures/checked.png" alt="check miniature error">Ability to accurately define priorities</li>
                </ul>
            </div>
        </div>
    </div>
</div>