.contact-content {
    min-width: 100%;
    display: flex;
    justify-content: center;
    animation: context-load-animation 3.5s;
}

.contact-container {
    margin-top: 60px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.contact-div-container {
    margin-right: 25px;
    margin-left: 25px;
    width: 325px;
    height: 600px;
}

.contact-div-container p {
    margin-bottom: 15px;
    font-size: 1.45rem;
    letter-spacing: 1px;
    color: var(--text-color-1-darkmotive);
}

.contact-div-container img {
    margin-left: 40px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.contact-div-container img:hover {
    transform: scale(1.2);
}

.map {
    margin-right: 25px;
    width: 600px;
}

.map iframe{
    -webkit-box-shadow: 0px 0px 40px 10px var(--shadow-color-2-darkomotive);
    -moz-box-shadow: 0px 0px 40px 10px var(--shadow-color-2-darkomotive);
    box-shadow: 0px 0px 40px 10px var(--shadow-color-2-darkomotive);
    border: 3px solid var(--shadow-color-2-darkomotive);
    border-radius: 24px;
}