.contact-content {
    min-width: 100%;
    display: flex;
    justify-content: center;
    animation: context-load-animation 3.5s;
}

.contact-container {
    margin-top: 60px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .contact-container {
        margin-top: 60px;
        width: 800px;
        display: flex;
        flex-direction: column;
    }
}

.contact-div-container {
    margin-right: 25px;
    margin-left: 25px;
    width: 325px;
    height: 600px;
}

@media only screen and (max-width: 1100px) {
    .contact-div-container {
        margin-right: 20px;
        margin-left: 20px;
        width: 300px;
        height: 600px;
    }
}

.contact-div-container p {
    margin-bottom: 15px;
    font-size: 1.45rem;
    font-family: 'Times New Roman', serif;
    letter-spacing: 1px;
    color: var(--text-color-1);
}

@media only screen and (max-width: 1100px) {
    .contact-div-container p {
        margin-bottom: 15px;
        font-size: 1.35rem;
        font-family: 'Times New Roman', serif;
        letter-spacing: 1px;
        color: var(--text-color-1);
    }
}

.email-line {
    display: flex;
    flex-direction: row;
}

.copy-email-icon-div {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--email-icon-background);
    border: 1px solid var(--email-icon-background);
    -webkit-box-shadow: 0px 0px 10px 10px var(--email-icon-background);
    -moz-box-shadow: 0px 0px 10px 10px var(--email-icon-background);
    box-shadow: 0px 0px 10px 10px var(--email-icon-background);
}

.contact-div-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

@media only screen and (max-width: 1100px) {
    .contact-div-container img {
        width: 23px;
        height: 23px;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
    }
}

.contact-div-container img:hover {
    transform: scale(1.2);
}

.map {
    margin-right: 25px;
    margin-top: 15px;
    width: 600px;
}

@media only screen and (max-width: 1100px) {
    .map {
        margin-right: 0px;
        margin-left: 30px;
        margin-top: 15px;
        width: 430px;
    }
}

.map iframe{
    -webkit-box-shadow: 0px 0px 40px 10px var(--shadow-color-2);
    -moz-box-shadow: 0px 0px 40px 10px var(--shadow-color-2);
    box-shadow: 0px 0px 40px 10px var(--shadow-color-2);
    border: 2px solid var(--shadow-color-2);
    border-radius: 24px;
}

@media only screen and (max-width: 1100px) {
    .map iframe{
        width: 95%;
        -webkit-box-shadow: 0px 0px 32px 8px var(--shadow-color-2);
        -moz-box-shadow: 0px 0px 32px 8px var(--shadow-color-2);
        box-shadow: 0px 0px 32px 8px var(--shadow-color-2);
        border: 2px solid var(--shadow-color-2);
        border-radius: 24px;
    }
}