.mobile-footer {
    display: none;
}

.desktop-footer {
    display: flex;
    position: fixed;
    bottom: -15px;
    min-width: 100%;
}

.socials-container-div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    height: 105px;
    border-radius: 16px;
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
    .socials-container-div {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 430px;
        height: 105px;
        border-radius: 16px;
        overflow: hidden;
    }
}

.social-inside-container-div {
    position: absolute;
    inset: 4px;
    padding-top: 15px;
    border-radius: 14px;
    z-index: 2;
    display: flex;
    justify-content: center;
    background: var(--footer-background-color); 
}

.social {
    margin-right: 50px;
}

@media only screen and (max-width: 900px) {
    .social {
        margin-right: 35px;
    }
}


.social img {
    width: 60px;
    height: 60px;
    opacity: 0.9;
    transition: all 0.6s ease-in-out;
}

.social img:hover {
    opacity: 1;
    transform: scale(1.12);
}

#in {
    margin-right: 0;
}

.border_line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border_line::before {
    content: '';
    position: absolute;
    top: -20vh;
    right: 18vw;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, var(--border-liner-color-1), var(--border-liner-color-1), var(--border-liner-color-1));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.border_line::after {
    content: '';
    position: absolute;
    top: -20vh;
    right: 18vw;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, var(--border-liner-color-1), var(--border-liner-color-1), var(--border-liner-color-1));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}