.motive-changer-div{
    min-width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
}

.motive-changer-button{
    margin-right: 25px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--motive);
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .motive-changer-button{
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--motive);
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.navigation {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 85px;
    background: var(--nav-background-color);
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
    -moz-box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
    box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
}

@media only screen and (max-width: 1100px) {
    .navigation {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 750px;
        height: 75px;
        background: var(--nav-background-color);
        display: flex;
        justify-content: center;  
        align-items: center;
        border-radius: 40px;
        -webkit-box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
        -moz-box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
        box-shadow: 0px 0px 20px 0px var(--shadow-color-1);
    }  
}

.navigation ul {
    display: flex;
    width: 850px;
}

@media only screen and (max-width: 1100px) {
    .navigation ul {
        display: flex;
        width: 700px;
    }
}

.navigation ul li {
    list-style: none;
    position: relative;
    width: 170px;
    height: 80px;
    z-index: 2;
}

@media only screen and (max-width: 1100px) {
    .navigation ul li {
        list-style: none;
        position: relative;
        width: 140px;
        height: 70px;
        z-index: 2;
    }
}

.navigation ul li div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li div img{
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    transition: 0.5s;
    transform: translateY(10px);
}

@media only screen and (max-width: 1100px) {
    .navigation ul li div img{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        transition: 0.5s;
        transform: translateY(7px);
    }
}

.navigation ul li div img:hover{
    cursor: pointer;
}

.navigation ul li.active div img{
    transform: translateY(-35px);
    cursor: default;
    opacity: 0.75;
}

@media only screen and (max-width: 1100px) {
    .navigation ul li.active div img{
        transform: translateY(-35px);
        cursor: default;
        opacity: 0.75;
    }
}

.navigation ul li div .text{
    position: absolute;
    background-color: var(--nav-background-color);
    color: var(--text-color-1);
    padding: 2% 4%;
    border-radius: 12px;
    font-family: 'Times New Roman', serif;
    font-size: 1.79rem;
    letter-spacing: 1px;
    transition: 0.5s;
    opacity: 0;
    cursor: default;
    transform: translateY(50px);
}

@media only screen and (max-width: 1100px) {
    .navigation ul li div .text{
        position: absolute;
        background-color: var(--nav-background-color);
        color: var(--text-color-1);
        padding: 2% 4%;
        border-radius: 12px;
        font-family: 'Times New Roman', serif;
        font-size: 1.45rem;
        letter-spacing: 1px;
        transition: 0.5s;
        opacity: 0;
        cursor: default;
        transform: translateY(35px);
    }
}

.navigation ul li.active div .text{
    transform: translateY(13px);
    opacity: 1;
}

@media only screen and (max-width: 1100px) {
    .navigation ul li.active div .text{
        transform: translateY(9px);
        opacity: 1;
    }
}

.indicator {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50%;
    left: 60px;
    background: var(--nav-background-color);
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -8%;
    left: -42%;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 22px 40px var(--nav-background-color);
}

.indicator::after {
    content: '';
    position: absolute;
    top: -8%;
    right: -42%;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -22px 40px var(--nav-background-color);
}

@media only screen and (max-width: 1100px) {
    .indicator {
        position: absolute;
        width: 95px;
        height: 95px;
        top: -52%;
        left: 47px;
        background: var(--nav-background-color);
        border-radius: 50%;
        z-index: 1;
        transition: 0.5s;
    }
    
    .indicator::before {
        content: '';
        position: absolute;
        top: -6%;
        left: -37%;
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 20px 25px var(--nav-background-color);
    }
    
    .indicator::after {
        content: '';
        position: absolute;
        top: -6%;
        right: -37%;
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        box-shadow: -20px 25px var(--nav-background-color);
    }
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(140px *0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(140px *1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(140px *2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(140px *3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(140px *4));
}