.desktop-header {
    display: none;
}

.mobile-header {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    min-width: 100%;
    display: flex;
    background-color: var(--mobile-nav-background-color);
    -webkit-box-shadow: 0px 0px 30px 8px var(--shadow-color-1);
    -moz-box-shadow: 0px 0px 30px 8px var(--shadow-color-1);
    box-shadow: 0px 0px 30px 8px var(--shadow-color-1);
    z-index: 2;
}

@media only screen and (max-width: 500px) {
    .mobile-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        min-width: 100%;
        display: flex;
        background-color: var(--mobile-nav-background-color);
        -webkit-box-shadow: 0px 0px 20px 5px var(--shadow-color-1);
        -moz-box-shadow: 0px 0px 20px 5px var(--shadow-color-1);
        box-shadow: 0px 0px 20px 5px var(--shadow-color-1);
        z-index: 2;
    }
}

nav {
    min-width: 100%;
}

.mobileMenu {
    min-width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon-div {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: var(--icons-background-color);
    -webkit-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    -moz-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    box-shadow: 0px 0px 5px 5px var(--icons-background-color);
}

@media only screen and (max-width: 500px) {
    .menu-icon-div {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 12px;
        background-color: var(--icons-background-color);
        -webkit-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
        -moz-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
        box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    }
}

.menu-icon-div img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 500px) {
    .menu-icon-div img {
        width: 30px;
        height: 30px;
    }
}

.mobile-navigation-div {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--icons-background-color);
    -webkit-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    -moz-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    box-shadow: 0px 0px 5px 5px var(--icons-background-color);
}

@media only screen and (max-width: 500px) {
    .navigation-icon-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: var(--icons-background-color);
        -webkit-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
        -moz-box-shadow: 0px 0px 5px 5px var(--icons-background-color);
        box-shadow: 0px 0px 5px 5px var(--icons-background-color);
    }
}

.navigation-icon-div img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 500px) {
    .navigation-icon-div img {
        width: 30px;
        height: 30px;
    }
}

.mobile-navigation-div ul {
    min-width: 100%;
    list-style: none;
}

.mobile-navigation-div ul li {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid var(--border-liner-color-1);
}

@media only screen and (max-width: 500px) {
    .mobile-navigation-div ul li {
        min-width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px 0px 15px 0px;
        border-top: 1px solid var(--border-liner-color-1);
    }
}

.list-mobile {
    display: flex !important;
}

.list-mobile-active {
    padding-bottom: 5px;
    display: flex !important;
    background-color: var(--mobile-nav-background-color);
}

.motive-changer-div{
    min-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.motive-changer-button{
    margin-right: 0px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--motive);
    border: none;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .motive-changer-button{
        margin-right: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--motive);
        border: none;
        outline: none;
    }
}